@charset "UTF-8";
/*FONTS*/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"), url("../fonts/Montserrat-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: local("Montserrat"), url("../fonts/Montserrat-SemiBoldItalic.woff");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: local("Montserrat"), url("../fonts/Montserrat-ExtraBold.woff");
  font-display: swap;
}
h1, h2, h3, h4, h5, p, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  color: #231F20;
  font-weight: 600;
  font-style: normal;
  background-color: #ffffff;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1194px;
  margin: 0 auto;
}

.header {
  box-shadow: 0px 4px 4px #F7F0FF;
  padding: 14px 0;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  width: 174px;
  height: 36px;
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.header__menu {
  display: block;
  margin-left: 130px;
}
.header__menu--link {
  color: #231F20;
  text-decoration: none;
  margin: 0 12px;
}
.header__menu--link:hover {
  color: #A64260;
  border-bottom: 1px #A64260 solid;
  transition: 0.2s linear;
}
.header__menu--link:active {
  border-bottom: 1px #A64260 solid;
  color: #A64260;
}

.mob {
  display: none;
}

.bonus {
  margin-bottom: 8%;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 55px;
}
.title--main {
  padding: 0 0 65px 0;
}
.title--white {
  color: #ffffff;
}
.title--center {
  text-align: center;
}
.title--yellow {
  color: #FFA639;
}
.title--buy {
  margin: 0 auto;
  text-align: center;
  width: 680px;
  font-weight: bold;
}
.title--pink {
  color: #A64260;
}
.title--footer {
  font-weight: bold;
}

.text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.text--title {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 20px;
}
.text--intro {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  z-index: 1000000;
}
.text--intro:last-child {
  margin-bottom: 0;
}
.text--intro::before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2219%22%20height%3D%2214%22%20viewBox%3D%220%200%2019%2014%22%0A%09xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%09%3Cpath%20d%3D%22M18.6565%201.9316L16.9905%200.330189C16.7629%200.111439%2016.4838%200%2016.1575%200C15.8312%200%2015.5521%200.111439%2015.3245%200.330189L7.28226%208.07311L3.67977%204.59788C3.4522%204.37913%203.17311%204.26769%202.84678%204.26769C2.52045%204.26769%202.24136%204.37913%202.01379%204.59788L0.343503%206.19929C0.115932%206.41804%200%206.68632%200%207C0%207.31368%200.115932%207.58196%200.343503%207.80071L4.78328%2012.0643L6.44927%2013.6657C6.67684%2013.8844%206.95593%2013.9959%207.28226%2013.9959C7.60859%2013.9959%207.88768%2013.8844%208.11525%2013.6657L9.78124%2012.0643L18.6565%203.53715C18.8841%203.3184%2019%203.05012%2019%202.73644C19%202.41863%2018.8884%202.15448%2018.6565%201.9316Z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  display: block;
  width: 19px;
  height: 14px;
  margin-right: 7px;
  z-index: 100;
}
.text--intro::after {
  content: "";
  position: absolute;
  top: 55%;
  width: 204px;
  height: 13px;
  background-color: #FFA639;
  z-index: -1;
}
.text--bottom {
  font-style: italic;
  width: 415px;
  margin-bottom: 45px;
}
.text--program {
  margin-top: 15px;
}
.text--white {
  color: #ffffff;
}
.text--pink {
  color: #A64260;
}
.text--bonus {
  width: 750px;
  margin-bottom: 20px;
}
.text--bonus:last-child {
  margin-bottom: 0;
}
.text--footer {
  color: #231F20;
  text-decoration: none;
}
.text--red {
  margin-bottom: 40px;
  color: #DA020A;
}
.text--yellow {
  color: #FFA639;
}
.text--buy {
  text-align: center;
}
.text--footer {
  color: #ffffff;
  text-decoration: none;
}

.yellowbg {
  background-color: #FFA639;
  padding: 1px 5px;
}

.bonus {
  margin-top: 15%;
}

.bonus-s {
  margin-top: 25%;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.subtitle--top {
  margin-bottom: 65px;
  width: 550px;
}
.subtitle--pink {
  color: #A64260;
}
.subtitle--yellow {
  color: #FFA639;
}

.button {
  display: block;
  width: 276px;
  height: 65px;
  left: 363px;
  top: 580px;
  background: #A64260;
  box-shadow: 0px 4px 4px rgba(255, 166, 57, 0.75);
  border-radius: 30px;
  padding: 21px 0;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
.button:hover {
  background: #FFA639;
  box-shadow: 0px 4px 4px rgba(166, 66, 96, 0.45);
  border-radius: 30px;
}
.button--buy {
  font-size: 18px;
  font-weight: 600;
  margin: 20px auto 0 auto;
  text-shadow: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.intro {
  position: relative;
  background-color: #fcc7cd;
  padding: 85px 0 102px 0;
  background-image: url("../img/bgg-min.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 115%;
  background-size: 1200px;
}
.intro__text {
  margin-bottom: 33px;
}

.program {
  padding: 100px 0;
  overflow: hidden;
}
.program__inner {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.program__inner--item {
  display: flex;
  flex-direction: column;
  width: 378px;
  margin-bottom: 30px;
  border-radius: 30px 30px 0px 0px;
  background: #FFFFFF;
  border: 1px solid #A64260;
  overflow: hidden;
}
.program__img {
  display: block;
  object-fit: cover;
}
.program__text {
  padding: 43px 40px 45px 40px;
}
.program__item {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0px 0px 30px 30px;
}
.program .up {
  margin-bottom: auto;
}

.about {
  background-color: #A64260;
  padding: 70px 0 112px 0;
}
.about__inner {
  position: relative;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
}
.about__inner--item {
  margin-bottom: 64px;
  display: flex;
  align-items: flex-start;
}
.about__inner--item:not(.item__last) {
  width: 590px;
  align-items: center;
}
.about__inner .item__img {
  margin-right: 20px;
  display: block;
  width: 31px;
  height: 31px;
  flex: 0 0 auto;
}
.about__inner .item__img svg {
  display: block;
  width: 100%;
  height: 100%;
}
.about__inner .item__img:last-child {
  margin-bottom: 0;
}
.about__inner .item__img__text {
  display: flex;
  flex-direction: column;
}
.about__inner .item__img__text--white {
  color: #ffffff;
}

.course {
  padding: 120px 0;
  overflow: hidden;
}
.course__inner {
  position: relative;
  padding: 57px 0 76px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.course__text {
  width: 750px;
  font-weight: 600;
}
.course__img {
  display: block;
  width: auto;
}

.list {
  width: 550px;
}
.list--item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.list--item::before {
  margin-right: 25px;
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M23.5661%202.48349L21.4617%200.424528C21.1742%200.143278%2020.8217%200%2020.4095%200C19.9973%200%2019.6447%200.143278%2019.3573%200.424528L9.19864%2010.3797L4.64814%205.91156C4.36068%205.63031%204.00814%205.48703%203.59593%205.48703C3.18373%205.48703%202.83119%205.63031%202.54373%205.91156L0.433898%207.97052C0.146441%208.25177%200%208.5967%200%209C0%209.4033%200.146441%209.74823%200.433898%2010.0295L6.04203%2015.5112L8.14644%2017.5702C8.4339%2017.8514%208.78644%2017.9947%209.19864%2017.9947C9.61085%2017.9947%209.96339%2017.8514%2010.2508%2017.5702L12.3553%2015.5112L23.5661%204.54776C23.8536%204.26651%2024%203.92158%2024%203.51828C24%203.10967%2023.859%202.77005%2023.5661%202.48349Z%22%20fill%3D%22%23FFA639%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  width: 29px;
  height: 24px;
}
.list--item:last-child {
  margin-bottom: 0;
}

.review {
  padding: 0 0 120px 0;
}
.review__inner {
  padding-top: 80px;
}
.review__inner--item {
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
}
.review__inner--item:last-child {
  margin-bottom: 0;
}
.review__inner--item__left {
  flex-direction: row-reverse;
}
.review__item--img {
  margin-right: 60px;
  display: block;
  width: 174px;
  height: 174px;
}
.review__item--img__left {
  margin-right: 0;
  margin-left: 60px;
}
.review__link {
  color: #A64260;
}
.review__link:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}
.review .item__textblock {
  padding: 50px 35px;
  position: relative;
  width: 756px;
  border: 1px #A64260 solid;
  border-radius: 25px;
}
.review .item__textblock:not(.item__textblock--left)::before {
  position: absolute;
  top: 60px;
  left: -34px;
  content: "";
  display: block;
  border-top: 53px solid #A64260;
  border-left: 33px solid transparent;
}
.review .item__textblock:not(.item__textblock--left)::after {
  position: absolute;
  top: 61px;
  left: -32px;
  content: "";
  display: block;
  border-top: 51px solid #ffffff;
  border-left: 31px solid transparent;
}
.review .item__textblock--text {
  margin-bottom: 20px;
}
.review .item__textblock--text:last-child {
  margin-bottom: 0;
}
.review .item__textblock--name {
  color: #A64260;
  font-style: italic;
}
.review .item__textblock--left::before {
  position: absolute;
  top: 60px;
  right: -34px;
  content: "";
  display: block;
  border-top: 53px solid transparent;
  border-left: 33px solid #A64260;
  transform: scale(1, -1);
}
.review .item__textblock--left::after {
  position: absolute;
  top: 61px;
  right: -32px;
  content: "";
  display: block;
  border-top: 51px solid transparent;
  border-left: 31px solid #ffffff;
  transform: scale(1, -1);
}

.autor {
  padding: 116px 0 218px 0;
}
.autor__inner {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.autor__item {
  display: flex;
  align-items: flex-start;
}
.autor__item::before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M23.5661%202.48349L21.4617%200.424528C21.1742%200.143278%2020.8217%200%2020.4095%200C19.9973%200%2019.6447%200.143278%2019.3573%200.424528L9.19864%2010.3797L4.64814%205.91156C4.36068%205.63031%204.00814%205.48703%203.59593%205.48703C3.18373%205.48703%202.83119%205.63031%202.54373%205.91156L0.433898%207.97052C0.146441%208.25177%200%208.5967%200%209C0%209.4033%200.146441%209.74823%200.433898%2010.0295L6.04203%2015.5112L8.14644%2017.5702C8.4339%2017.8514%208.78644%2017.9947%209.19864%2017.9947C9.61085%2017.9947%209.96339%2017.8514%2010.2508%2017.5702L12.3553%2015.5112L23.5661%204.54776C23.8536%204.26651%2024%203.92158%2024%203.51828C24%203.10967%2023.859%202.77005%2023.5661%202.48349Z%22%20fill%3D%22%23A64260%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  display: block;
  width: 29px;
  height: 24px;
  margin-right: 25px;
}

.buy {
  position: relative;
  padding: 0 0 94px 0;
  overflow: hidden;
}
.buy__inner {
  padding: 30px 0;
}
.buy__inner--item {
  margin: 0 auto;
  width: 270px;
}
.buy__img {
  margin: 0 auto;
  display: block;
}
.buy__form {
  margin-top: 30px;
}
.buy__input {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 70px;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 20px;
  color: #231F20;
  box-shadow: 0px 4px 4px rgba(255, 166, 57, 0.75);
  border-radius: 30px;
  text-decoration: none;
  border: 1px #A64260 solid;
}

.footer {
  background-color: #231F20;
  padding: 105px 0;
}
.footer__inner {
  position: relative;
  padding: 60px 0 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer__inner--link {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.footer__inner--link:last-child {
  margin-right: 0;
}
.footer__inner--link:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}
.footer__inner--link svg {
  width: 24px;
  height: 24px;
}
.footer__inner::before {
  position: absolute;
  top: 27px;
  content: "";
  display: block;
  width: 71px;
  height: 3px;
  background-color: #ffffff;
}
.footer__inf {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__inf--tel {
  margin-bottom: 5px;
}
.footer__inf--email {
  margin-top: 15px;
  margin-bottom: 5px;
}

@media (max-width: 1794px) {
  .intro {
    background-size: 1000px;
    background-position-x: 115%;
  }
}
@media (max-width: 1612px) {
  .intro {
    background-position-x: 125%;
    background-position-y: bottom;
  }
}
@media (max-width: 1598px) {
  .intro {
    background-size: 68%;
  }
}
@media (max-width: 1478px) {
  .intro {
    background-position-x: 140%;
  }
}
@media (max-width: 1366px) {
  .container {
    padding: 0 1%;
  }

  .intro {
    overflow: hidden;
    background-size: 77%;
    background-position-x: 165%;
  }

  .title--main {
    width: 600px;
  }

  .program__inner::after {
    right: -7%;
  }

  .about__inner::before {
    left: -7%;
  }

  .course__img {
    width: 47%;
  }

  .bonus {
    margin-top: 5%;
  }
}
@media (max-width: 1218px) {
  .intro__img {
    right: 27%;
  }
}
@media (max-width: 1112px) {
  .intro {
    background-position-x: 592%;
    background-size: 96%;
  }

  .program__inner--item {
    width: 33%;
  }

  .about__inner::before {
    display: none;
  }

  .course__img {
    width: 45%;
  }

  .item--lc::after {
    left: -53%;
  }

  .bonus {
    margin-top: 17%;
  }

  .bonus-s {
    margin-top: 38%;
  }
}
@media (max-width: 1024px) {
  .subtitle {
    font-size: 21px;
    line-height: 27px;
  }

  .title {
    font-size: 43px;
    line-height: 50px;
  }

  .text {
    font-size: 15px;
  }

  .header__menu--link {
    margin: 0 9px;
  }

  .intro__img {
    width: 25%;
    top: 40%;
    right: 33%;
  }

  .course__img {
    width: 42%;
  }
  .course__inner::after {
    top: -16%;
    right: -127px;
  }

  .item--lb::after {
    right: -58%;
  }

  .bonus {
    margin-top: 7%;
  }

  .bonus-s {
    margin-top: 29%;
  }
}
@media (max-width: 991px) {
  .header__inner {
    justify-content: space-between;
  }
  .header__menu {
    margin-left: 0;
  }

  .course__img {
    width: 42%;
  }
  .course__inner::before {
    top: -5%;
    right: -200px;
  }

  .buy__input {
    width: 60%;
  }

  .review .item {
    position: relative;
  }
  .review .item__textblock {
    width: 80%;
    margin: 0 auto;
  }
  .review .item__textblock:not(.item__textblock--left)::before {
    display: none;
  }
  .review .item__textblock:not(.item__textblock--left)::after {
    display: none;
  }
  .review .item__textblock--left::before {
    display: none;
  }
  .review .item__textblock--left::after {
    display: none;
  }
  .review__item--img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: -10%;
    left: 6%;
    margin-right: 0;
    z-index: 100;
  }
  .review__item--img__left {
    margin-left: 79%;
  }
}
@media (max-width: 834px) {
  .bonus {
    margin-top: 0;
  }

  .bonus-s {
    margin-top: 0;
  }

  .header {
    display: none;
  }

  .mob {
    display: block;
  }

  .text--bottom {
    display: none;
  }
  .text--program {
    margin-top: 15px;
  }

  .title {
    text-align: center;
    font-weight: 600;
  }
  .title--main {
    padding: 0;
    width: auto;
    margin-bottom: 30px;
  }

  .subtitle {
    font-weight: 600;
  }
  .subtitle--top {
    width: auto;
    padding: 0 10%;
    margin-bottom: 30px;
  }

  .button {
    margin: 50px auto 0 auto;
  }
  .button--buy {
    margin-top: 20px;
  }

  .intro {
    padding: 55px 0 600px 0;
    background-image: url("../img/bg-min.png");
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: 104%;
  }
  .intro__block {
    text-align: center;
  }
  .intro__img {
    display: none;
  }
  .intro__text {
    display: none;
  }

  .program__inner {
    margin-top: 40px;
  }
  .program__inner--item {
    width: 49%;
  }

  .course {
    padding: 70px 5%;
  }
  .course__inner {
    flex-direction: column;
    padding: 50px 0 60px 0;
    align-items: center;
  }
  .course__inner::before {
    display: none;
  }
  .course__img {
    width: 50%;
    margin-top: 30px;
  }

  .review__inner--item {
    width: 80%;
    margin: 0 auto 40px auto;
  }

  .item--lb::before {
    left: -14%;
  }
  .item--lb::after {
    right: -61%;
  }

  .autor {
    padding: 70px 0 170px 0;
  }
}
@media (max-width: 768px) {
  .about__inner {
    padding: 0 5%;
  }
  .about__inner::after {
    top: 25%;
  }

  .text--bonus {
    width: auto;
  }

  .course__text {
    width: auto;
  }

  .item--lb::after {
    right: -67%;
  }

  .review__inner--item {
    width: 100%;
  }

  .autor {
    padding: 10% 5%;
  }
  .autor__inner {
    flex-direction: column;
  }
  .autor__item {
    margin-bottom: 25px;
  }
  .autor__item::before {
    margin-right: 15px;
  }
  .autor__img {
    margin-bottom: 40px;
  }

  .none {
    display: none;
  }
}
@media (max-width: 667px) {
  .intro {
    background-size: 110%;
    padding: 55px 0 500px 0;
  }

  .subtitle {
    font-size: 18px;
    line-height: 23px;
  }

  .title {
    font-size: 38px;
    line-height: 43px;
  }
  .title--buy {
    width: auto;
    padding: 0 7%;
  }

  .list {
    width: auto;
  }

  .course__img {
    width: 100%;
  }

  .review__item--img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -2%;
    left: 7%;
  }
  .review .item__textblock--text {
    margin-bottom: 0;
  }
  .review .item__textblock--text:last-of-type {
    margin-bottom: 20px;
  }

  .item--lt img {
    top: -7%;
    left: -5%;
    width: 47px;
    height: 58px;
  }
  .item--rt img {
    top: -5%;
    right: -5%;
    width: 59px;
    height: 53px;
  }
  .item--lb img {
    top: -5%;
    left: -5%;
    width: 51px;
    height: 44px;
  }
  .item--lb::after {
    content: url("../img/Эллипс 9.png");
    left: -60%;
    top: -220%;
  }
  .item--rc img {
    top: -5%;
    right: -7%;
    width: 46px;
    height: 59px;
  }
  .item--rc::after {
    position: absolute;
    content: url("../img/Эллипс 8.png");
    right: -70%;
    top: 0;
    z-index: -122;
  }
  .item--lc img {
    top: -3%;
    left: -10%;
    width: 56px;
    height: 41px;
  }
  .item--lc::after {
    display: none;
  }
  .item--rtt img {
    top: -7%;
    right: -7%;
    width: 51px;
    height: 52px;
  }
  .item .none {
    display: none;
  }

  .autor__img {
    width: 100%;
  }

  .buy__inner {
    padding: 10% 5%;
  }
  .buy__input {
    width: 80%;
  }
}
@media (max-width: 568px) {
  .title {
    padding: 0 5%;
  }

  .intro {
    padding: 55px 0 415px 0;
  }

  .program {
    padding: 60px 0;
  }
  .program__inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .program__inner::before {
    top: auto;
    bottom: -337px;
  }
  .program__inner--item {
    width: 51%;
  }
  .program__item {
    padding-top: 40px;
  }
  .program__img {
    display: block;
    object-fit: contain;
    margin-top: -37px;
  }
  .program__img--bottom {
    margin-bottom: -37px;
  }
  .program__text {
    padding: 0px 25px 45px 25px;
  }

  .about {
    padding: 40px 0;
  }
  .about__inner {
    margin-top: 40px;
  }
  .about__inner::after {
    display: none;
  }
  .about__inner--item {
    align-items: center;
    margin-bottom: 35px;
  }
  .about__inner--item:not(.tem__last) {
    width: auto;
  }

  .course__inner {
    padding: 40px 0 50px 0;
  }

  .footer {
    padding: 65px 0;
  }
  .footer__inf {
    padding-top: 0;
  }

  .review {
    padding: 25px 0 120px 0;
  }
  .review .item__textblock--name {
    color: #FFA639;
  }

  .buy__input {
    width: 90%;
  }

  .button--buy {
    width: 90%;
  }
}
@media (max-width: 414px) {
  .subtitle {
    font-size: 15px;
    line-height: 19px;
  }
  .subtitle--top {
    margin-bottom: 20px;
  }

  .title {
    padding: 0 11%;
    font-size: 22px;
    line-height: 25px;
  }
  .title--main {
    margin-bottom: 20px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
  }
  .text--program {
    font-size: 12px;
    line-height: 16px;
  }
  .text--bonus {
    margin-bottom: 15px;
  }

  .button {
    margin: 40px auto 0 auto;
  }
  .button--buy {
    margin-top: 20px;
    width: 95%;
  }

  .intro {
    padding: 55px 0 310px 0;
    background-position-x: 50%;
    background-position-y: 100%;
    background-size: 108%;
  }

  .program__inner--item {
    width: 75%;
  }

  .about__inner--item {
    margin-bottom: 25px;
  }
  .about__inner .item__img {
    width: 28px;
    height: 28px;
  }

  .review {
    padding: 0 0 100px 0;
  }
  .review__inner {
    padding-top: 25px;
  }
  .review__inner--item {
    margin: 0 auto 9px auto;
    padding: 10px 32px;
  }
  .review__item--img {
    top: 0;
    width: 45px;
    height: 45px;
  }
  .review .item__textblock {
    padding: 30px 25px;
    width: 100%;
  }
  .review .item__textblock--name {
    font-size: 12px;
  }

  .buy {
    background-position-y: 174%;
    padding: 60px 0 80px 0;
  }
  .buy__input {
    width: 95%;
  }
  .buy__inner img {
    width: 90%;
  }

  .autor {
    padding: 0 5%;
  }
}
@media (max-width: 375px) {
  .subtitle--top {
    font-size: 12px;
    line-height: 15px;
  }

  .title {
    font-size: 22px;
    line-height: 25px;
    padding: 0 8%;
  }
  .title--main {
    margin-bottom: 20px;
  }

  .list--item::before {
    margin-right: 15px;
  }

  .course__inner {
    padding: 40px 0;
  }

  .program__inner--item {
    width: 79%;
  }

  .autor {
    padding: 0% 5%;
  }
}
@media (max-width: 320px) {
  .title--buy {
    padding: 0px 7%;
  }

  .intro {
    padding: 55px 0 260px 0;
    background-position-x: 50%;
    background-size: 117%;
  }

  .button {
    margin: 40px auto 0 auto;
  }
  .button--buy {
    width: 100%;
    margin-top: 20px;
  }

  .about__inner--item {
    margin-bottom: 25px;
  }
  .about__inner .item__img {
    width: 25px;
    height: 25px;
  }

  .buy__input {
    width: 100%;
  }

  .program__inner--item {
    width: 85%;
  }
  .program__img {
    margin-top: -47px;
  }
  .program__img--bottom {
    margin-bottom: -47px;
  }

  .review__item--img__left {
    margin-left: 71%;
  }
}